@tailwind base;
@tailwind components;
@tailwind utilities;

.function-box {
  position: relative;
  z-index: 10;
  user-select: none;
}

.initial-value,
.final-output {
  position: relative;
  z-index: 10;
  user-select: none;
}

.input-point,
.output-point {
  transition: all 0.2s ease;
  z-index: 30;
  position: absolute;
  user-select: none;
}

.input-point:hover,
.output-point:hover {
  background-color: #dbeafe;
}

.dragging {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
